.speech{
    font:medium;
    font-size: large;
    color: black;
}
.direction{
    font: bold;
    font-size: larger;
    color: black;
    background-color: cyan;
}
.direction:hover{
    background-color: darkkhaki;
    color: blueviolet;
}
.Petra{
    color: blue;
}
.DrStockmann{
    color: blueviolet;
}
.Billing{
    color: brown;
}
.Hovstad{
    color: chartreuse;
}
.MrsStockmann{
    color:chocolate
}
table{
    font-size: medium;
    color: darkgreen;
    text-align: center;
    margin: 2px;
    padding: 12px;
    border: 4px green solid;
}
tr:nth-child(odd) {
    background-color: bisque;
}
.DrStockmann:hover{
    color: red;
    border: 2px solid purple;
    text-shadow: 4px 5px 6px;
    filter: blur(1px);
}
ul.navbar-horizontal {
    list-style-type: none;
    margin: 0;
    padding: 0;
    }
    ul.navbar-horizontal li {
    float:left;
    color:#000;
    background-color:rgb(231, 163, 231)
    }
    ul.navbar-horizontal a {
    display:block;
    padding:8px
    }
    