.speech{
    font:medium;
    font-size: large;
    color: black;
}
.direction{
    font: bold;
    font-size: larger;
    color: black;
    background-color: cyan;
}
.direction:hover{
    background-color: darkkhaki;
    color: blueviolet;
}
.Petra{
    color: blue;
}
.Dr.Stockmann{
    color: blueviolet;
}
.Billing{
    color: brown;
}
.Hovstad{
    color: chartreuse;
}
.Mrs.Stockmann{
    color:chocolate
}