.speech{
    font:medium;
    font-size: large;
    color: black;
}
.direction{
    font: bold;
    font-size: larger;
    color: black;
    background-color: cyan;
}
.direction:hover{
    background-color: darkkhaki;
    color: blueviolet;
}
.Petra{
    color: blue;
}
.DrStockmann{
    color: blueviolet;
}
.Billing{
    color: brown;
}
.Hovstad{
    color: chartreuse;
}
.MrsStockmann{
    color:chocolate
}
table{
    font-size: medium;
    color: darkgreen;
    text-align: center;
    margin: 2px;
    padding: 12px;
    border: 4px green solid;
}
tr:nth-child(odd) {
    background-color: bisque;
}